body{
text-align: center ;   
}
#section1{
font-family: fantasy;
font-size: 25;
padding: 15px;    
background:linear-gradient(#c5f542 0%,#4248f5 100%)   
}
#img1{
width: 175px;
border-radius: 50%;    
}
#line{
width: 200px;
height: 10px;
background-color: black;
margin: auto 600px;   
}
p{
font-size: 20;
font-family:monospace;
text-align: justify;    
}